body{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: black;
}
p{
    line-height: 150%;
}
h1{
    position: relative;
    height: 90%;
    width: 90%;
    top: 5%;
    left: 5%;
    Font-Size: 100%;
    font-family: 'Black Han Sans', sans-serif;
}
.navbar{
    width: 100%;
    background-color:rgb(51, 50, 50);
    color: white;
    border-bottom: red;
    border-style: solid;
    overflow: auto;
    height: auto;
    position: fixed;
    top: 0;
}
header{
    width: 20%;
    height: 45px;
    background-color: black;
    text-align: center;
    font-size: 90%;
    margin-left: 10%;
    float: left;
}
nav{
    font-size: 150%;
    height: 45px;
    width: 30%;
    background-color: black;
    text-align: center;
    float: right;
    margin-right: 10%;
    overflow: auto;
}
.dumbassbars{
    padding: 0 2%;
    border-left: red;
    border-right: red;
    border-top: black;
    border-bottom: black;
    border-style: solid;
    border-width: 1px;
}
.offtop{
    position: relative;
    top: 25%;
}
.wraper{
    margin: 100px auto 100px;
    width: 70%;
    left: 15%;
    background-color: rgb(27, 22, 22);
}
.candyHead{
    height: 30%;
    width: 95%;
    position: relative;
    top: 0;
    border-bottom: red;
    border-style: solid;
    border-width: 1%;
    left: 2.5%
}
.candy{
    width: 95%;
    height: 70%;
    margin: 3% auto;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.offtop2{
    position: fixed;
    top: 12%;
}
h2{
    font-size: 500%;
}
footer{
    position: fixed;
    bottom: 0;
    height: 10%;
    width: 100%;
    background-color: rgb(51, 50, 50);
    text-align: center;
    border-top: red;
    border-style: solid;
    border-width: 1%;
}
